.Main {}
.selection{ 
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align:center;
    padding:10px;
}
#static{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding:10px;
}


